/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
html {

}

body {}

#container 
{
    font-family:'Times New Roman';
    font-style:italic;

}

#topbar{
    background:#54b7ff url(../pics/kantradbat.png) no-repeat center;
    text-align:right;
    color: white;
    height:295px;
    width:706px;

}



#menu{
  
    width: 698px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
   
    
}

.active {
    background-color: #7A991A;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{ 
    display:inline;}

#content{
    background-color:#a9a9a9;
}

#maincontent{
    color:rgba(37, 26, 14, 0.85);
    
}